---
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../assets/images/SCWT-logo_v1.svg";
---

<BaseLayout>
  <h1 class="text-center text-violet-600 !mb-0 hero-font-size">
    Walk Santa Cruz
  </h1>

  <!-- <a
    href="/"
    class="inline-block w-full hover:opacity-80 transition-opacity duration-200"
    aria-label="Santa Cruz Walking Tours - Return to homepage"
    title="Santa Cruz Walking Tours"
  >
    <Logo class="w-full h-auto block" aria-hidden="true" role="img" />
    <span class="sr-only">Santa Cruz Walking Tours</span>
  </a> -->
  <div
    class="mt-2 relative -mx-4"
    style="width: 100vw; margin-left: calc(-50vw + 50%);"
  >
    <video class="w-full" autoplay muted loop playsinline preload="auto">
      <source src="/output.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="absolute inset-0 flex items-center justify-center px-6">
      <h2 class="text-white text-center overlay-hero">
        Local guides,<br /> local stories
      </h2>
    </div>
  </div>
  <!-- <h1 class="text-violet-600 text-center font-bold hero-font-size">
    Uncover Hidden Stories <br />of Santa Cruz
  </h1> -->
  <h1 class="text-center text-violet-600 hero-font-size">Coming soon!</h1>
</BaseLayout>
