---
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../assets/images/SCWT-logo_v1.svg";
---

<BaseLayout>
  <Logo class="w-full h-auto block" />
  <div
    class="mt-2 relative -mx-4"
    style="width: 100vw; margin-left: calc(-50vw + 50%);"
  >
    <video class="w-full" autoplay muted loop>
      <source src="/output.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="absolute inset-0 flex items-center justify-center">
      <h1
        class="text-white text-center max-w-lg md:max-w-6xl xl:max-w-7xl"
        style="font-size: clamp(2rem, 6vw, 10rem); line-height: 1.1;"
      >
        Uncover Hidden Stories of Santa Cruz
      </h1>
    </div>
  </div>
  <h1 class="text-center text-red-500">Coming soon!!!</h1>
</BaseLayout>
