---
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../SCWT-logo_v1.svg";
---

<BaseLayout>
  <Logo class="w-full h-auto block" />
  <h1 class="text-center text-red-500">Coming soon!!!</h1>
</BaseLayout>
